
{% load static %}
{% load bootstrap5 %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'list' %}">🏠Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Articles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for article in Articles %}
                        <li>
                          <a class="dropdown-item" href="{% url 'detail' id=article.id %}">
                              {{ article.name }}
                          </a>
                        </li>
                        {% endfor %}
                    </ul>
                </ul>
                
              </div>
            </div>
          </nav>
        {% block content %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      
    </body>
</html>