{% extends 'listings/base.html' %}{% load bootstrap5 %}{% bootstrap_css %} {%
bootstrap_javascript %} {% bootstrap_messages %} {% block content %}

<div class="d-flex flex-wrap">
  <img
    class="fit-picture rounded d-block img-thumbnail"
    style="max-width: 50%; max-height: 100%"
    src="{{ article.image.url}}"
    alt="Grapefruit slice atop a pile of other slices"
  />
  <div class="d-flex flex-column">
    <h1>{{ article.name }}</h1>
    <p>Prix/u: {{ article.price }}€</p>
    <h2>Détails</h2>
    {{ article.details }}
    <div ="container" class="d-flex flex-wrap">
      <button id="btn-decrement" onclick="decrement()">-</button>
      <h2 id="counting"></h2>
      <small>Unité(s)</small>
      <button onclick="increment()">+</button>
    </div>
    <button
      type="button"
      class="btn btn-dark"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Vendeur
    </button>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Informations sur le vendeur
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Et velit repellendus sed fuga cupiditate cum pariatur minus. Ab
        aspernatur quae sit voluptatibus sint non doloremque aliquid est
        molestias temporibus non harum aliquam et consectetur nisi At iste
        fugit. Sed quia soluta et officia vitae aut vitae harum sed corporis
        commodi a deserunt officiis.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-dark">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
  //initialising a variable name data

  var data = 0;
  //printing default value of data that is 0 in h2 tag
  document.getElementById("counting").innerText = data;

  //creation of increment function
  function increment() {
    data = data + 1;
    document.getElementById("counting").innerText = data;
  }
  //creation of decrement function
  function decrement() {
    if (data > 0) {
      data = data - 1;
    } else {
      data = 0;
    }
    document.getElementById("counting").innerText = data;
  }
</script>
{% endblock %}
