{% extends 'listings/base.html' %} {% load bootstrap5 %} {% load static %} {#
Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {#
Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}
{% block content %}


  <div class="loader center-hor">
    <span class="lettre">G</span>
    <span class="lettre">E</span>
    <span class="lettre">T</span>
    <span class="lettre">Y</span>
    <span class="lettre">O</span>
    <span class="lettre">U</span>
    <span class="lettre">R</span>
    <span class="lettre">L</span>
    <span class="lettre">O</span>
    <span class="lettre">V</span>
    <span class="lettre">E</span>
    <span class="lettre">!</span>
    <a href='#items'>

        <div class="center-con">
            <div class="round">
                <span class="span1"></span>
                <span class="span1"></span>
                <span class="span1"></span>
                <span class="span1"></span>
            </div>
        </div>
    </a>
  </div>

<div class="d-flex flex-wrap center-div" id="items">
  {% for article in Articles %}
  {% comment %} <div class="d-flex flex-column bd-highlight mb-3">
    <img class="fit-picture" src="{{ article.image.url }}" alt="not found" />
    <div class="center-hor">
      {{ article.name }} {{ article.price }}€ {{ article.details }}

      <a href="{% url 'detail' id=article.id %}">
        <button class="btn btn-primary">En savoir plus</button>
      </a>
    </div>
  </div> {% endcomment %}
  <div class="card" style="width: 18rem;">
    <img src="{{ article.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ article.name }}</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a href="{% url 'detail' id=article.id %}" class="btn btn-primary">En savoir plus</a>
    </div>
  </div>
  {% comment %}
  <p><a href="{% url 'detail' id=article.id %}">{{ article.name }}</a></p>
  {% endcomment %} {% endfor %}
</div>

{# Display a form #} {% endblock %}

